* {
    box-sizing: border-box;
}

body {
    font-family: "Inter", sans-serif;
    margin: 0;
}

.container {
    width: 100%;
    margin: 0 auto;
}

.hero-flex {
    padding-top: 20px;
}
.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 20px 20px 20px;

    position: relative;
}

.background-image {
    padding: 5px;
    width: 80%;
    position: absolute;
    z-index: -1;
    top: 16px;
}

.person_image {
    width: 66%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.image-john {
    display: none;
}

.slide {
    display: flex;
    justify-content: space-between;
    width: 100px;
    background: white;
    padding: 10px 15px ;
    border-radius: 100px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

    position: absolute;
    bottom: 0;
}

button {
    border: none;
    background-color: white;
    cursor: pointer;
}

.qoute-image {
    position: absolute;
    width: 15%;
    left: 45%;
}

.testimony-of-john {
    display: none;
}

.testimony-text {
   padding: 28px 15px 0 15px; /* top right bottom left */
   font-size: 1.2rem;
   text-align: center;
}

.person {
    text-align: center;
    line-height: 1.5;
}

.person-name {
    margin: 0;
    font-weight: 600;
}

.role {
    color: gray;
}

.curve-pattern {
    width: 100%;
}

/* 
- Mobile: 375px
- Desktop: 1440px
*/

@media (min-width: 700px) {
    .hero {
       padding: 80px 20px 20px 20px;
    }

    .qoute-image {
            width: 10%;
    }

    .testimony-text {
          padding: 50px 100px 0 100px; 
          font-size: 1.2rem;
          text-align: center;
    }
        
}



@media (min-width: 1000px) {
    .container {
        width: 80%;
        margin: 0 auto;
    }

    .hero-flex{
        display: flex;
        flex-direction:row-reverse;
        align-items: center;
    }

    .hero {
        padding: 59px 20px 20px 20px;
    }

    .background-image {
        padding: 0;
    }

    .person-image {
       width: 485px;
        margin-top: 15px;
    }

    .slide {
        left: 120px;
    }

     .hero_text {
       position: absolute;
       left: 200px;
     }

     .qoute-image {
        position: relative;
        width: 7%;
        top: 58px;
        left: 87px;
     }

     .testimony-text {
          padding: 0;
          font-size: 1.7rem;
          text-align:start;
        width: 50%;
     }

    .person {
        text-align: start;
        display: flex;
        gap: 10px;
    }

    .person-name {
        font-weight: 700;
    }

    .curve-pattern {
        width: 50%;
        position: absolute;
    }
}

      
